
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>

    <h1>Hello, <%= @register.name %></h1>
     <p>Appointment was successfully registered for conference room!</p>
    <p>
      You have successfully signed up.
      your appoinment time is fixed between: <span style="background-color: #FFFF00"><%= @register.time %> and <%= @register.endtime %></span>
    </p>
    
   
  </body>
</html>