<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1 class ="header">Conference Hall E-Booking</h1>

<div style="padding-left: 540px;padding-top: 130px;">
<%= link_to "Login", {:controller => 'admins', :action => 'new'}, class: "w3-button w3-aqua w3-round-xlarge" %> 
<%= link_to "View Booked Time", {:controller => 'registers', :action => 'index'}, class: "w3-button w3-aqua w3-round-xlarge" %>
</div>


</div>
<br/><br/>

