<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
<p>Happy Birthday <%= @reminder.name %>
 <h1>Hello </h1>
     
    
    
   
  </body>
</html>